--extra-index-url https://download.pytorch.org/whl/cu121
argparse
gdown
h5py
logging
matplotlib
moviepy
numpy
onnxruntime-gpu
opencv-python
pandas
python-speech-features
psutil
rtmlib
scipy
sox
sounddevice
torch
torchvision
tqdm
wheel
